.App {
  display: grid;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: cornflowerblue;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  outline: 1px solid red;
}

.main {
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.main-menu {
  width: 200px;
}

.footer {
  height: 50px;
  background-color: cornflowerblue;
}
